// reference :https://codepen.io/finnhvman/pen/jLXKJw
.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:active {
    background-color: $background-grey;
    background-size: 100%;
    transition: background 0s;
}