.slide-in-left-leave-active, .slide-in-left-enter-active, .slide-in-right-enter-active, .slide-in-right-leave-active {
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slide-in-left-enter-from, .slide-in-right-leave-to {
    transform: translate(100%, 0);
}

.slide-in-left-leave-to, .slide-in-right-enter-from {
    transform: translate(-100%, 0);
}